{{ form_start(form) }}

      <div class="form-group">
        <label class="form-control-label">
          Destinataire
        </label>
        {{ form_widget(form.destinataire, {'attr': {'class': 'form-control'}}) }}
      </div>

      <div class="form-group">
        <label class="form-control-label">
          Sujet
        </label>
        {{ form_widget(form.sujet, {'attr': {'class': 'form-control'}}) }}
      </div>

      <div class="form-group">
        <label class="form-control-label">
          Message
        </label>
        {{ form_widget(form.corps, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
      </div>

          <button class="btn-envoyer">{{ button_label|default('Envoyer !') }}</button>
      {{ form_end(form) }}
